%h1 Payment

= render '/air/book_a_seat/wizard/reservations/steps', reservation: @reservation

= semantic_form_for @reservation, :url => air_book_a_seat_wizard_payment_path,
  :html => {:class => 'js-flight-payment-form', 'data-summary-flight-reservation-path' => '/air/book_a_seat/wizard/reservation/summary'} do |form|
  = form.error_messages
  %fieldset.h2.passengers
    %legend= Air::BookASeat::Reservation.human_attribute_name('passengers')
    = form.semantic_fields_for :passengers do |form_for_passenger|
      = render :partial => 'form_for_passenger', :object => form_for_passenger

  = content_tag_for(:fieldset, @reservation.payment.contact_info, :class => 'h2') do
    %legend= Payment.human_attribute_name('contact_info')
    %p
      How can we get in touch?

    = form.semantic_fields_for :payment do |form_for_payment|
      = form_for_payment.semantic_fields_for :contact_info do |form_for_contact_info|
        = render 'form_for_contact_info', :form => form_for_contact_info

  = content_tag_for(:fieldset, @reservation.payment, :class => 'h2') do
    %legend= Air::BookASeat::Reservation.human_attribute_name('payment')
    = form.semantic_fields_for :payment do |form_for_payment|
      = render 'form_for_payment', :form => form_for_payment

  %fieldset.h2.coupon-code
    %legend Coupon code
    %ol.column
      = form.input :coupon_code, as: :string, hint: "Enter coupon code to get discount or leave the field blank."

  %fieldset.h2.agreement
    %legend Agreement
    = render 'form_for_agreement', :reservation => @reservation

  %fieldset.wizard-actions
    %span.wa-back
      = link_to 'Back', back_air_book_a_seat_wizard_reservation_path, :class => "detail-button"
    %span.wa-next
      = submit_tag 'Complete Purchase', {:id => "submit_payment", :class => "next yellow-button js-loading-animation", 'data-loading-animation-title' => "Booking"}

- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $("#submit_payment").prop("disabled", true);
      $("#accept").on("click", function() {
        $("#submit_payment").prop("disabled", !($("#accept").prop("checked")));
      });
    });
